<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>	
	<add key="NuGet official package source" value="https://nuget.org/api/v2/" />		
    <add key="Woodbury TeamCity" value="http://pahunt.no-ip.org:54104/guestAuth/app/nuget/v1/FeedService.svc/" />		
  </packageSources>
  <disabledPackageSources />
  <activePackageSource>	
	<add key="NuGet official package source" value="https://nuget.org/api/v2/" />		
    <add key="Woodbury TeamCity" value="http://pahunt.no-ip.org:54104/guestAuth/app/nuget/v1/FeedService.svc/" />
  </activePackageSource>
</configuration>